.popup-container {
    width: 380px;
}

.popup__msg {
    padding: 40px;
}

.action {
    display: flex;
}
.action__item {
    margin-right: 10px;
}

.setting-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.setting-field__label {
    font-size: 16px;
    font-weight: 500;
}
.setting-field__input {

}